{{ template "header.html" .UIUtils.Slice "" "home" }}
<div itemscope itemtype="http://schema.org/WebApplication">
	<h1>
	    <span itemprop="name">Go Search</span>
	</h1>
	<meta itemprop="url" content="http://go-search.org/"></meta>
	<meta itemprop="applicationCategory" content="Search Engine"></meta>
	{{ template "searchbox.html" .UIUtils.Slice "" true }}
	{{ if . }}
	<div class="info">
	    <a href="/search">{{ .TotalDocs }}</a> golang packages in {{ .TotalProjects }} projects indexed,
	    last updated {{ .IndexAge }} ago.
	</div>
</div>
{{ end }}
{{ template "footer.html" }}